* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: #fbf5ea;
    display: flex;
  
    a {
      color: black; 
      padding-left: 15rem;
      padding-bottom: 4rem;
      font-size: 20px;
      position: relative;
      top: 2rem;
    }

    .cultura{
        padding-left: 50rem;
    }
    
    .logo{
        width: 8rem;   
        height: 8rem;
        margin-left: 10rem;
        position: relative;
        top: 0rem;
   }
    

}

body{
    font-size: 1.6rem;
    background: var(--background-default);
}

img {
    width: 100%;
}

strong {
    color: var(--text-headline);
    text-transform: uppercase;
}

h1{
    font-size: 3.6rem;
    margin-block: 0.8rem 4.4rem;
}

h2{
    font-size: 3.2rem;
    margin-block: 0.2rem 0.8rem;
}

h1, h2, h3 {
    color: var(--text-primary);
}

h4 {
    color: var(--text-secondary);
    font-size: 1.6rem;
}

p{
    color: var(--text-secondary);
}

ul{
    padding-left: 2.4rem;
    font-weight: 700;
}

ul li::marker {
    color: var(--text-secondary);
}

#page {
    max-width: 1120px;
    margin-inline: auto;
}

#page header img{
    border-radius: 2.8rem;
    margin-bottom: 2.4rem;
    height: 66rem;
}

#page header p{
    font-style: italic;
    text-align: center;
}

.divider{
    height: 1px;
    background: var(--border-primary);
    margin-block: 4rem;
}

.amantes-historia{
    margin-bottom: 6.4rem;
}

.destino_1 img,
.destino_2 img,
.destino_3 img {
    height: 35rem;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 2.8rem;
}

.destino_1 h3,
.destino_2 h3,
.destino_3 h3 {
    font-size: 2.8rem;
    margin-bottom: 0.4rem;
}

.destino_1 p,
.destino_2 p,
.destino_3 p {
    margin-bottom: 2.4rem;
}

.destino_1,
.destino_2 {
    margin-bottom: 4.8rem;
}

.destino_1 li,
.destino_2 li {
    color: var(--accent-blue);
}

footer{
    text-align: center;
}

:root {
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;

    --background-default: #fcf5e9; 
    --border-primary: #C8C8C8;

    --text-primary: #1F2F1F; 
    --text-secondary: #4A4A4A;
    --text-tertiary: #6E6E6E;
    --text-headline: #8B1E2D; 

    --accent-blue: #0F5F3F; 
    --accent-pink: #8B1E2D; 
}