body {
    background-color: #fbf5ea;
    margin: 0;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    background-color: #fbf5ea;
    display: flex;
  
    a {
      color: black; 
      padding-left: 15rem;
      padding-bottom: 4rem;
      font-size: 20px;
      position: relative;
      top: 2rem;
    }

    .cultura{
        padding-left: 20rem;
    }
    
    .logo{
        width: 8rem;   
        height: 8rem;
        margin-left: 1rem;
        position: relative;
        top: 0rem;
   }
    

}

.logo {
    width: 80px;
    height: 80px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.container {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.titulo {
    font-size: 28px;
    margin-bottom: -10px;
    font-weight: 600;
}

.foto {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    display: block;
    object-fit: cover;
}

.texto {
    font-size: 18px;
    line-height: 28px;
}
