body {
    margin: 0;
    padding: 0;
    background: #caba9b;
    font-family: Arial, sans-serif;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
}

.logo {
    width: 110px;
}

nav a {
    margin: 0 12px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: default;
}

.bandeira {
    width: 120px;
    border-radius: 10px;
}

.titulo {
    font-size: 55px;
    font-weight: 900;
    margin-left: 40px;
    margin-top: 10px;
}

.pergunta {
    margin: 35px 40px;
    max-width: 850px;
}

.pergunta p {
    font-size: 25px;
    line-height: 1.3;
}

.campo {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.campo input {
    width: 80%;
    height: 40px;
    background: #7e6a55;
    border: none;
    border-radius: 40px;
}

.seta {
    width: 45px;
    height: 45px;
    background: #58d15b;
    border-radius: 50%;
    margin-left: -25px;
}

.foto-final {
    width: 280px;
    border-radius: 10px;
    float: right;
    margin: 10px 40px;
}