* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.nav-home{
  background-color: #fbf5ea;
  display: flex;
  position: fixed;
  z-index: 10;

  a {
    color: black; 
  }
  
  img {
    width: 8rem;   
    height: 8rem;
    padding-left: 10rem;
 }
    
  .Login {
    padding-left: 60rem;
    padding-top: 3rem;
    font-size: 26px;
    text-decoration: none;
  }
    
  .Cadastro{
    padding-left: 10rem;
    padding-right: 100rem;
    padding-top: 3rem;
    font-size: 26px;
    text-decoration: none;
  }
}

main{
  .img-italia {
    width: 119rem;   

  }

  h2{
    position: relative;
    bottom: 30rem;
    text-align: center;
    font-size: 50px;   
  }

  .h2-red {
    color: green
  }

  .h2-white{
    color: white;
  }

  .h2-green{
    color: red;
  }
}

.nav-4{
  display: flex;
  position: relative;
  bottom: 22rem;

  
  .nav-cultura{
    padding-left: 10rem;
    
    img{
      width: 20rem; 
      border-radius: 11px;  
    }
    p{
      text-align: center;
    }
  }

  .nav-turismo{
    padding-left: 5rem;

    img{
      width: 20rem; 
      border-radius: 11px;  
      }
      p{
        text-align: center;
      }
  }

  .nav-food{
    padding-left: 5rem;

    img{
      width: 18rem; 
      border-radius: 11px;  
      }
      p{
        text-align: center;
      }
  }

  .nav-economia{
    padding-left: 5rem;

    img{
      width: 24rem; 
      border-radius: 11px;  
      }
      p{
        text-align: center;
      }
    }

  .quiz{
    position: relative;
    top: 20rem;
    right: 60em;

    img{
      width: 24rem; 
      border-radius: 11px;  
      }
      p{
        text-align: center;
      }
    }
}